
    <div class="form-group container">
      <label for="inputFirst_name">First_name:</label>
      <input type="text" class="form-control" id="inputFirst_name" placeholder="First_name">
    </div>
    <div class="form-group container">
      <label for="inputLast_name">Last_name</label>
      <input type="text" class="form-control" id="inputLast_name" placeholder="Last_name">
    </div>


<div class="form-group container">
    <label for="exampleDescription">Description</label>
    <textarea class="form-control" id="exampleDescription" placeholder="Decrivez votre personnalité"rows="3"></textarea>
    <button type="submit" class="btn btn-primary">Confirm identity</button>
</div>


